*.DS
*/*.DS
.DS_Store

/server/target
/desktop-runtime/target
/desktop-ui/bin
/desktop-ui/obj
/desktop-ui/.vs

*.pfx
*.crt
*.cert
*.cert
*.ca-bundle
*.pem
*.key

*.p7b
*.p7c
*.p7s
*.keystore
*.jks
*.p12

*.exe
/desktop-ui/target

/server/admin-panel/_static
/server/target
node_modules
/server/frontend/_static
