.underline {
    text-decoration: underline;
}

.home_padding {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.align_items_center {
    align-items: center;
}

.error_text {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.device_grid {
    width: 100%;
}

.device_grid .backdrop_content {
    height: 400px;
}

.default_row_gap {
    row-gap: 6px;
}