.device_page {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.device_topbar {
    width: 100%;
}

.view_full {
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 94, 255);
}